* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Times', Arial, sans-serif;
    box-sizing:border-box;
    }
    html{
      font-size: 67%;
      scroll-behavior: smooth;
      overflow-x: hidden;
    }
    header{
      background-color: white;
     /* background: linear-gradient(90deg, #0005a0 0%, #160c43 30%, #160c43 30%, #6c00c4 100%);*/
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
      height: 60px;
    }
    
    .logopart{
      padding-left: 10px;
      display: flex;
      align-items: center;
      /* float: left;
      justify-content:space-between; */
    }
    
    header .navbar a{
      display: flex;
      justify-content:flex-end;
      font-size: 2rem;
      color: #000000;
      padding:0 20px;
      position: relative;
      top: 1px;
      right: 0;
      left: 130px;
    }
    
    header .navbar{
      display: flex;
      align-items: center;
    }
    
    header .navbar a:hover{
      color:#0005a0;
    }
    
    .photos {
      display: flex;
      justify-content:flex-end;
    }
    
    .photos img {
      cursor: pointer;
      margin-right: 20px;
      width: calc(11% - 20px); /* Adjust the width as needed with margin */
    }
  
    body {
      background: linear-gradient(90deg, #0005a0 0%, #160c43 30%, #160c43 30%, #6c00c4 100%);
      margin: 0;
    }

    .boxes{
        display: flex;
        justify-content: flex-end; /* Align the form to the right */
        flex-grow: 1;  
    }
  
    .checkingout{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding:70px 70px ;
    } 
  
    .mainb{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.6em;
      color: aliceblue;
      position: absolute;
      top: 15px;
      left: 50px;
      width: 100%;
    }  
  
    .cart{
     top: 80px;
     right: 0;
     padding: 30px;
     width: 400px;
     background: rgb(42, 49, 60);
     box-shadow: 0 5px 20px rgba(0,0,0,0.15);
    }
   
    .cart h3{
      color: #ffffff;
      font-weight: 500;
      font-size: 2.4em;
      margin-bottom: 10px;
      top: 0px;
    }

    .basic{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width: 100%;
      }
    
      .formbox .row100 .basic{
        width: 100%;
      }
    
      .basic span{
        color: aliceblue;
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 1.6em
      }
    
      .basic input{
        padding: 10px;
        font-size: 1.4em;
        outline: none;
        border: 1px solid #ffffff;
      }
    
    
      .basic input[type="submit"]{
        background: #232368;
        color: aliceblue;
        border: none;
        font-size: 1.7em;
        max-width: 120px;
        font-weight: 500;
        cursor: pointer;
        padding: 14px 15px;
     }

     .side{
        padding: 30px;
        background: rgb(42, 49, 60);
        box-shadow: 0 5px 20px rgba(0,0,0,0.15);
        font-size: 1.6em;
        position: absolute;
        top: 850px;
        left: 50px;
        width: 600px;
        height: 190px;
        color: aliceblue;
        float: right;
      }

      .other{
        padding: 30px;
        background: rgb(42, 49, 60);
        box-shadow: 0 5px 20px rgba(0,0,0,0.15);
        font-size: 1.9em;
        position: absolute;
        top: 130px;
        left: 50px;
        width: 600px;
        height: 700px;
        color: aliceblue;
      }
   
