.carousel-caption.caption-top-left {
  position: absolute;
  top: 20%; /* Position from the top */
  left: 10%; /* Position from the left */
  padding: 20px;
  text-align: left;
}




.captitle{
  font-size: 140px;
}

.option-selector_colour input[type="radio"]{
  width: 18px;
  height: 25px;
  border: 0px;
}

.option-selector_colour input[type="radio"].beige {
  accent-color: rgb(240, 234, 224);
}

.option-selector_colour input[type="radio"].black {
  accent-color: black;
}

.option-selector_colour input[type="radio"].blue {
  accent-color: blue;
}

.option-selector_colour input[type="radio"].red {
  accent-color: red;
}
