.d-flex.flex-column.min-vh-100 {
    min-height: 100vh;
    /* Full viewport height */
    display: flex;
    flex-direction: column;
}

main.flex-grow-1 {
    flex-grow: 1;
    /* Allows content area to expand */
}

footer {
    overflow-x: hidden;
}

footer,
footer * {
    max-width: 100%;
    box-sizing: border-box;
}

.modal-content{
    overflow-x: hidden;
}

/* Responsive adjustments for footing within the footer */
@media (max-width: 768px) {
    footer .footing {
        width: 100%;
        padding: 0 15px;
    }
}