footer {
    overflow-x: hidden;
}

footer, footer * {
    max-width: 100%;
    box-sizing: border-box;
}

.footertext {
    color: rgb(231, 54, 231);
}

.icon-red {
    color: red;
}

.navicon {
    color:black
}

@media (max-width: 768px) {
    footer .footing {
        width: 100%;
        padding: 0 15px;
    }
}