.d-flex.flex-column.min-vh-100 {
    min-height: 100vh;
    /* Full viewport height */
    display: flex;
    flex-direction: column;
}

main.flex-grow-1 {
    flex-grow: 1;
    /* Allows content area to expand */
}

footer {
    overflow-x: hidden;
}

footer,
footer * {
    max-width: 100%;
    box-sizing: border-box;
}

.modal-content{
    overflow-x: hidden;
}

/* Responsive adjustments for footing within the footer */
@media (max-width: 768px) {
    footer .footing {
        width: 100%;
        padding: 0 15px;
    }
}

.category-container {
    padding: 5rem 2rem;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid lightgray;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    transition: all .5s ease;
}

.category-container:hover {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.category-title {
    text-shadow: #fff 0px 0px 5px, #fff 0px 0px 5px, #fff 0px 0px 5px, #fff 0px 0px 5px;
}