.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.rating > label {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
}

.rating > .radio-btn:checked ~ label {
    color: #f7d106;
}

.hide {
    display: none;
}

.clear {
    clear: both;
}
